<h2>ngSwitchCase</h2>

<div [ngSwitch]='numero'>
  <p *ngSwitchCase="0">O número está zerado</p>
  <p *ngSwitchCase="1">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="2">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="3">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="4">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="5">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="6">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="7">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="8">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchCase="9">A Váriavel está com o valor de {{numero}}</p>
  <p *ngSwitchDefault>A Váriavel está com o valor de {{numero}}</p>
</div>

<button (click)='incrementarNumero()'>Incrementar Número</button>